tensorflow==1.14
scikit-learn
numpy==1.19.1
scipy
matplotlib
tqdm==4.46.0
r2pipe
pyfiglet
networkx
keystone-engine
capstone
memory-profiler
pandas
torch
networkx
angr
protobuf==3.20.*

click
simpletransformers

importlib_resources
omegaconf==2.0.6
hydra-core==1.0.7
pytorch_lightning
